.App {
  text-align: center;
}
.Container {
  margin-left: 24%;

  font-weight: bold;
  margin-top: 3%;
}

.AddproductTable {
  margin: 2% 0%;
}

.OrderContainer {
  margin: 1% 16%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
}

.button {
  margin: 5%;
}
